@use "sass:color";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/extends" as *;

.indexAcercaDe {
  background: $gray-dark;
  padding: 3rem 0;
}

.imagenAcercaDe {
  position: relative;
  max-height: 420px;
  border-radius: $radius-sm;

  img {
    @extend %image-cover;
    opacity: 0.55;
  }
}

.tituloAcercaDe {
  @include title(2.5rem, $white);
  margin-bottom: 1.5rem;
}

.descripcionAcercaDe {
  font-size: 1.1rem;
  text-align: justify;
  color: color.adjust($gray-dark, $lightness: 65%);
  line-height: 1.8;

  span {
    font-weight: 700;
  }
}
