@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.tituCategoria {
  @include flex-center;
  @include title(2.5rem, $black);
  margin: 3rem;
}

.car-card {
  position: relative;
  height: 350px;
  border-radius: $radius-sm;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  transition: transform $transition-fast;

  &:hover {
    transform: scale(1.02);
  }

  .car-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 28px;
    font-weight: 600;
    color: $white;
    text-shadow: 0 2px 6px rgba($black, 0.7);
  }

  .btn-arrow {
    @include flex-center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: $white;
    font-size: 20px;
  }
}