@use "variables" as *;

%btn-base {
  border-radius: $radius-pill;
  font-weight: 600;
  transition: $transition;
  cursor: pointer;
}

%image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}